<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>JKLGY</key>
	<dict>
		<key>oneKind</key>
		<string>电力电缆</string>
		<key>twoKind</key>
		<string>架空绝缘电缆</string>
		<key>threeKind</key>
		<string>钢芯铝绞线芯</string>
	</dict>
	<key>UTP-5e</key>
	<dict>
		<key>oneKind</key>
		<string>通信、光缆</string>
		<key>twoKind</key>
		<string>通信电缆</string>
		<key>threeKind</key>
		<string>网络线</string>
	</dict>
	<key>CAT7</key>
	<dict>
		<key>oneKind</key>
		<string>通信、光缆</string>
		<key>twoKind</key>
		<string>通信电缆</string>
		<key>threeKind</key>
		<string>网络线</string>
	</dict>
	<key>HBYV</key>
	<dict>
		<key>oneKind</key>
		<string>通信、光缆</string>
		<key>twoKind</key>
		<string>通信电缆</string>
		<key>threeKind</key>
		<string>电话线</string>
	</dict>
	<key>HSQRYV-3</key>
	<dict>
		<key>oneKind</key>
		<string>通信、光缆</string>
		<key>twoKind</key>
		<string>通信电缆</string>
		<key>threeKind</key>
		<string>数字通信用对绞星绞工作区对绞电缆</string>
	</dict>
	<key>HSYV-5e</key>
	<dict>
		<key>oneKind</key>
		<string>通信、光缆</string>
		<key>twoKind</key>
		<string>通信电缆</string>
		<key>threeKind</key>
		<string>数字通信用实心聚烯烃绝缘</string>
	</dict>
	<key>HJYZV-A</key>
	<dict>
		<key>oneKind</key>
		<string>通信、光缆</string>
		<key>twoKind</key>
		<string>通信电缆</string>
		<key>threeKind</key>
		<string>局用对称电缆</string>
	</dict>
	<key>HJYYZP-B</key>
	<dict>
		<key>oneKind</key>
		<string>通信、光缆</string>
		<key>twoKind</key>
		<string>通信电缆</string>
		<key>threeKind</key>
		<string>局用对称电缆</string>
	</dict>
	<key>HJYVP-A</key>
	<dict>
		<key>oneKind</key>
		<string>通信、光缆</string>
		<key>twoKind</key>
		<string>通信电缆</string>
		<key>threeKind</key>
		<string>局用对称电缆</string>
	</dict>
	<key>HJYV-C</key>
	<dict>
		<key>oneKind</key>
		<string>通信、光缆</string>
		<key>twoKind</key>
		<string>通信电缆</string>
		<key>threeKind</key>
		<string>局用对称电缆</string>
	</dict>
	<key>RS485</key>
	<dict>
		<key>oneKind</key>
		<string>通信、光缆</string>
		<key>twoKind</key>
		<string>通信电缆</string>
		<key>threeKind</key>
		<string>RS485通信电缆</string>
	</dict>
	<key>HCTAYZ-50-22</key>
	<dict>
		<key>oneKind</key>
		<string>通信、光缆</string>
		<key>twoKind</key>
		<string>同轴射频电缆</string>
		<key>threeKind</key>
		<string>无线通信用50Ω泡沫聚乙烯绝缘皱纹铜管外导体</string>
	</dict>
	<key>HJYV-75-2.5-1</key>
	<dict>
		<key>oneKind</key>
		<string>通信、光缆</string>
		<key>twoKind</key>
		<string>同轴射频电缆</string>
		<key>threeKind</key>
		<string>局用同轴电缆</string>
	</dict>
	<key>SYV-75-5-5</key>
	<dict>
		<key>oneKind</key>
		<string>通信、光缆</string>
		<key>twoKind</key>
		<string>同轴射频电缆</string>
		<key>threeKind</key>
		<string>实心聚乙烯绝缘射频电缆</string>
	</dict>
	<key>SYV-50-3-3</key>
	<dict>
		<key>oneKind</key>
		<string>通信、光缆</string>
		<key>twoKind</key>
		<string>同轴射频电缆</string>
		<key>threeKind</key>
		<string>实心聚乙烯绝缘射频电缆</string>
	</dict>
	<key>SYWY-75-9</key>
	<dict>
		<key>oneKind</key>
		<string>通信、光缆</string>
		<key>twoKind</key>
		<string>同轴射频电缆</string>
		<key>threeKind</key>
		<string>CATV电缆</string>
	</dict>
	<key>SYWV-75-7</key>
	<dict>
		<key>oneKind</key>
		<string>通信、光缆</string>
		<key>twoKind</key>
		<string>同轴射频电缆</string>
		<key>threeKind</key>
		<string>CATV电缆</string>
	</dict>
	<key>GJAFJV</key>
	<dict>
		<key>oneKind</key>
		<string>通信、光缆</string>
		<key>twoKind</key>
		<string>光缆</string>
		<key>threeKind</key>
		<string>终端光缆组件用单芯和双芯室内</string>
	</dict>
	<key>GJYXFCH</key>
	<dict>
		<key>oneKind</key>
		<string>通信、光缆</string>
		<key>twoKind</key>
		<string>光缆</string>
		<key>threeKind</key>
		<string>接入网用蝶形引入</string>
	</dict>
	<key>GJYXCH</key>
	<dict>
		<key>oneKind</key>
		<string>通信、光缆</string>
		<key>twoKind</key>
		<string>光缆</string>
		<key>threeKind</key>
		<string>接入网用蝶形引入</string>
	</dict>
	<key>GJXFH</key>
	<dict>
		<key>oneKind</key>
		<string>通信、光缆</string>
		<key>twoKind</key>
		<string>光缆</string>
		<key>threeKind</key>
		<string>接入网用蝶形引入</string>
	</dict>
	<key>GJYS</key>
	<dict>
		<key>oneKind</key>
		<string>通信、光缆</string>
		<key>twoKind</key>
		<string>光缆</string>
		<key>threeKind</key>
		<string>接入网用室内外</string>
	</dict>
	<key>GJYFJV</key>
	<dict>
		<key>oneKind</key>
		<string>通信、光缆</string>
		<key>twoKind</key>
		<string>光缆</string>
		<key>threeKind</key>
		<string>接入网用室内外</string>
	</dict>
	<key>GYTA</key>
	<dict>
		<key>oneKind</key>
		<string>通信、光缆</string>
		<key>twoKind</key>
		<string>光缆</string>
		<key>threeKind</key>
		<string>层绞式通信室外</string>
	</dict>
	<key>GYXTW</key>
	<dict>
		<key>oneKind</key>
		<string>通信、光缆</string>
		<key>twoKind</key>
		<string>光缆</string>
		<key>threeKind</key>
		<string>中心管式室外</string>
	</dict>
	<key>GYFXTY</key>
	<dict>
		<key>oneKind</key>
		<string>通信、光缆</string>
		<key>twoKind</key>
		<string>光缆</string>
		<key>threeKind</key>
		<string>中心管式室外</string>
	</dict>
	<key>GYFXF</key>
	<dict>
		<key>oneKind</key>
		<string>通信、光缆</string>
		<key>twoKind</key>
		<string>光缆</string>
		<key>threeKind</key>
		<string>中心管式室外</string>
	</dict>
	<key>LBR</key>
	<dict>
		<key>oneKind</key>
		<string>裸线类</string>
		<key>twoKind</key>
		<string>裸电线</string>
		<key>threeKind</key>
		<string>铜、铝扁线</string>
	</dict>
	<key>TJR1</key>
	<dict>
		<key>oneKind</key>
		<string>裸线类</string>
		<key>twoKind</key>
		<string>裸电线</string>
		<key>threeKind</key>
		<string>软铜绞线</string>
	</dict>
	<key>NRLH58GJ</key>
	<dict>
		<key>oneKind</key>
		<string>裸线类</string>
		<key>twoKind</key>
		<string>特种架空导线</string>
		<key>threeKind</key>
		<string>耐热铝合金绞线</string>
	</dict>
	<key>JL/LHA1</key>
	<dict>
		<key>oneKind</key>
		<string>裸线类</string>
		<key>twoKind</key>
		<string>架空导线用裸绞线</string>
		<key>threeKind</key>
		<string>铝合金芯铝绞线</string>
	</dict>
	<key>JLB20B</key>
	<dict>
		<key>oneKind</key>
		<string>裸线类</string>
		<key>twoKind</key>
		<string>架空导线用裸绞线</string>
		<key>threeKind</key>
		<string>铝包钢绞线</string>
	</dict>
	<key>JLHA2/G2A</key>
	<dict>
		<key>oneKind</key>
		<string>裸线类</string>
		<key>twoKind</key>
		<string>架空导线用裸绞线</string>
		<key>threeKind</key>
		<string>钢芯铝合金绞线</string>
	</dict>
	<key>JLHA1/G1A</key>
	<dict>
		<key>oneKind</key>
		<string>裸线类</string>
		<key>twoKind</key>
		<string>架空导线用裸绞线</string>
		<key>threeKind</key>
		<string>钢芯铝合金绞线</string>
	</dict>
	<key>JG1A</key>
	<dict>
		<key>oneKind</key>
		<string>裸线类</string>
		<key>twoKind</key>
		<string>架空导线用裸绞线</string>
		<key>threeKind</key>
		<string>钢绞线</string>
	</dict>
	<key>SDJ</key>
	<dict>
		<key>oneKind</key>
		<string>绕组线类</string>
		<key>twoKind</key>
		<string>绕包线</string>
		<key>threeKind</key>
		<string>丝包线</string>
	</dict>
	<key>QZN-2B</key>
	<dict>
		<key>oneKind</key>
		<string>绕组线类</string>
		<key>twoKind</key>
		<string>漆包线</string>
		<key>threeKind</key>
		<string>聚酯漆包线</string>
	</dict>
	<key>QZ(G)B-2/155</key>
	<dict>
		<key>oneKind</key>
		<string>绕组线类</string>
		<key>twoKind</key>
		<string>漆包线</string>
		<key>threeKind</key>
		<string>聚酯漆包线</string>
	</dict>
	<key>BTTVZ</key>
	<dict>
		<key>oneKind</key>
		<string>电气装备电缆</string>
		<key>twoKind</key>
		<string>防火电缆</string>
		<key>threeKind</key>
		<string>矿物绝缘</string>
	</dict>
	<key>DJYVP22</key>
	<dict>
		<key>oneKind</key>
		<string>电气装备电缆</string>
		<key>twoKind</key>
		<string>计算机电缆</string>
		<key>threeKind</key>
		<string>总屏计算机连接用</string>
	</dict>
	<key>DJVP2VP2-22</key>
	<dict>
		<key>oneKind</key>
		<string>电气装备电缆</string>
		<key>twoKind</key>
		<string>计算机电缆</string>
		<key>threeKind</key>
		<string>分屏+总屏计算机连接用</string>
	</dict>
	<key>KX-G-VVP</key>
	<dict>
		<key>oneKind</key>
		<string>电气装备电缆</string>
		<key>twoKind</key>
		<string>补偿导线及电缆</string>
		<key>threeKind</key>
		<string>K分度热电偶用</string>
	</dict>
	<key>CJPF96/SC</key>
	<dict>
		<key>oneKind</key>
		<string>电气装备电缆</string>
		<key>twoKind</key>
		<string>船用电缆</string>
		<key>threeKind</key>
		<string>船用电力电缆</string>
	</dict>
	<key>CEF/SA</key>
	<dict>
		<key>oneKind</key>
		<string>电气装备电缆</string>
		<key>twoKind</key>
		<string>船用电缆</string>
		<key>threeKind</key>
		<string>船用电力电缆</string>
	</dict>
	<key>CKJPJ/SC</key>
	<dict>
		<key>oneKind</key>
		<string>电气装备电缆</string>
		<key>twoKind</key>
		<string>船用电缆</string>
		<key>threeKind</key>
		<string>船用控制电缆</string>
	</dict>
	<key>CKJ86/SC</key>
	<dict>
		<key>oneKind</key>
		<string>电气装备电缆</string>
		<key>twoKind</key>
		<string>船用电缆</string>
		<key>threeKind</key>
		<string>船用控制电缆</string>
	</dict>
	<key>MYJV42</key>
	<dict>
		<key>oneKind</key>
		<string>电气装备电缆</string>
		<key>twoKind</key>
		<string>矿用电缆</string>
		<key>threeKind</key>
		<string>矿用电力电缆</string>
	</dict>
	<key>FF4-7</key>
	<dict>
		<key>oneKind</key>
		<string>电气装备电缆</string>
		<key>twoKind</key>
		<string>特种电气装备电缆</string>
		<key>threeKind</key>
		<string>航空航天含氟聚合物绝缘电缆</string>
	</dict>
	<key>JEFR</key>
	<dict>
		<key>oneKind</key>
		<string>电气装备电缆</string>
		<key>twoKind</key>
		<string>特种电气装备电缆</string>
		<key>threeKind</key>
		<string>电机绕组引接软电线</string>
	</dict>
	<key>AGR</key>
	<dict>
		<key>oneKind</key>
		<string>电气装备电缆</string>
		<key>twoKind</key>
		<string>橡套电缆</string>
		<key>threeKind</key>
		<string>耐热硅橡胶绝缘电缆</string>
	</dict>
	<key>60245IEC53(YZ)</key>
	<dict>
		<key>oneKind</key>
		<string>电气装备电缆</string>
		<key>twoKind</key>
		<string>橡套电缆</string>
		<key>threeKind</key>
		<string>中型</string>
	</dict>
	<key>KVVP2-22</key>
	<dict>
		<key>oneKind</key>
		<string>电气装备电缆</string>
		<key>twoKind</key>
		<string>控制电缆</string>
		<key>threeKind</key>
		<string>聚氯乙烯绝缘</string>
	</dict>
	<key>KGGRP</key>
	<dict>
		<key>oneKind</key>
		<string>电气装备电缆</string>
		<key>twoKind</key>
		<string>控制电缆</string>
		<key>threeKind</key>
		<string>耐高温控制电缆</string>
	</dict>
	<key>KGGP</key>
	<dict>
		<key>oneKind</key>
		<string>电气装备电缆</string>
		<key>twoKind</key>
		<string>控制电缆</string>
		<key>threeKind</key>
		<string>耐高温控制电缆</string>
	</dict>
	<key>RYJVSP</key>
	<dict>
		<key>oneKind</key>
		<string>电气装备电缆</string>
		<key>twoKind</key>
		<string>布电线</string>
		<key>threeKind</key>
		<string>R系列</string>
	</dict>
	<key>RVVSP</key>
	<dict>
		<key>oneKind</key>
		<string>电气装备电缆</string>
		<key>twoKind</key>
		<string>布电线</string>
		<key>threeKind</key>
		<string>R系列</string>
	</dict>
	<key>RVP-90</key>
	<dict>
		<key>oneKind</key>
		<string>电气装备电缆</string>
		<key>twoKind</key>
		<string>布电线</string>
		<key>threeKind</key>
		<string>R系列</string>
	</dict>
	<key>60227IEC52(RVV)</key>
	<dict>
		<key>oneKind</key>
		<string>电气装备电缆</string>
		<key>twoKind</key>
		<string>布电线</string>
		<key>threeKind</key>
		<string>R系列</string>
	</dict>
	<key>BYJ</key>
	<dict>
		<key>oneKind</key>
		<string>电气装备电缆</string>
		<key>twoKind</key>
		<string>布电线</string>
		<key>threeKind</key>
		<string>B系列</string>
	</dict>
	<key>BLVVB</key>
	<dict>
		<key>oneKind</key>
		<string>电气装备电缆</string>
		<key>twoKind</key>
		<string>布电线</string>
		<key>threeKind</key>
		<string>B系列</string>
	</dict>
	<key>QVR-105</key>
	<dict>
		<key>oneKind</key>
		<string>电气装备电缆</string>
		<key>twoKind</key>
		<string>公路车辆用线</string>
		<key>threeKind</key>
		<string>耐热105℃聚氯乙烯绝缘</string>
	</dict>
	<key>YJLW02-Z</key>
	<dict>
		<key>oneKind</key>
		<string>电力电缆</string>
		<key>twoKind</key>
		<string>超高压电力电缆</string>
		<key>threeKind</key>
		<string>500kV交联聚乙烯绝缘</string>
	</dict>
	<key>JKLY</key>
	<dict>
		<key>oneKind</key>
		<string>电力电缆</string>
		<key>twoKind</key>
		<string>架空绝缘电缆</string>
		<key>threeKind</key>
		<string>铝芯</string>
	</dict>
	<key>JKLHYJ/Q</key>
	<dict>
		<key>oneKind</key>
		<string>电力电缆</string>
		<key>twoKind</key>
		<string>架空绝缘电缆</string>
		<key>threeKind</key>
		<string>铝合金芯</string>
	</dict>
	<key>JKY</key>
	<dict>
		<key>oneKind</key>
		<string>电力电缆</string>
		<key>twoKind</key>
		<string>架空绝缘电缆</string>
		<key>threeKind</key>
		<string>铜芯</string>
	</dict>
	<key>JKLGYJ/Q</key>
	<dict>
		<key>oneKind</key>
		<string>电力电缆</string>
		<key>twoKind</key>
		<string>架空绝缘电缆</string>
		<key>threeKind</key>
		<string>钢芯铝绞线芯</string>
	</dict>
	<key>JKLGV</key>
	<dict>
		<key>oneKind</key>
		<string>电力电缆</string>
		<key>twoKind</key>
		<string>架空绝缘电缆</string>
		<key>threeKind</key>
		<string>钢芯铝绞线芯</string>
	</dict>
	<key>BS1-JKLYJ</key>
	<dict>
		<key>oneKind</key>
		<string>电力电缆</string>
		<key>twoKind</key>
		<string>架空绝缘电缆</string>
		<key>threeKind</key>
		<string>平行集束</string>
	</dict>
	<key>BS1-JKLV</key>
	<dict>
		<key>oneKind</key>
		<string>电力电缆</string>
		<key>twoKind</key>
		<string>架空绝缘电缆</string>
		<key>threeKind</key>
		<string>平行集束</string>
	</dict>
	<key>VLV23</key>
	<dict>
		<key>oneKind</key>
		<string>电力电缆</string>
		<key>twoKind</key>
		<string>低压电力电缆</string>
		<key>threeKind</key>
		<string>聚氯乙烯绝缘</string>
	</dict>
	<key>GGR</key>
	<dict>
		<key>oneKind</key>
		<string>电力电缆</string>
		<key>twoKind</key>
		<string>低压电力电缆</string>
		<key>threeKind</key>
		<string>耐高温电力电缆</string>
	</dict>
	<key>YJV73</key>
	<dict>
		<key>oneKind</key>
		<string>电力电缆</string>
		<key>twoKind</key>
		<string>中压电力电缆</string>
		<key>threeKind</key>
		<string>6～35kV交联聚乙烯绝缘</string>
	</dict>
	<key>YJV23</key>
	<dict>
		<key>oneKind</key>
		<string>电力电缆</string>
		<key>twoKind</key>
		<string>中压电力电缆</string>
		<key>threeKind</key>
		<string>6～35kV交联聚乙烯绝缘</string>
	</dict>
	<key>YJLV32</key>
	<dict>
		<key>oneKind</key>
		<string>电力电缆</string>
		<key>twoKind</key>
		<string>中压电力电缆</string>
		<key>threeKind</key>
		<string>6～35kV交联聚乙烯绝缘</string>
	</dict>
	<key>YJLV23</key>
	<dict>
		<key>oneKind</key>
		<string>电力电缆</string>
		<key>twoKind</key>
		<string>中压电力电缆</string>
		<key>threeKind</key>
		<string>6～35kV交联聚乙烯绝缘</string>
	</dict>
	<key>YJHLV</key>
	<dict>
		<key>oneKind</key>
		<string>电力电缆</string>
		<key>twoKind</key>
		<string>中压电力电缆</string>
		<key>threeKind</key>
		<string>6～35kV交联聚乙烯绝缘</string>
	</dict>
	<key>DZ-YJV</key>
	<dict>
		<key>oneKind</key>
		<string>电力电缆</string>
		<key>twoKind</key>
		<string>中压电力电缆</string>
		<key>threeKind</key>
		<string>6～35kV交联聚乙烯绝缘</string>
	</dict>
	<key>UTP-5</key>
	<dict>
		<key>oneKind</key>
		<string>通信、光缆</string>
		<key>twoKind</key>
		<string>通信电缆</string>
		<key>threeKind</key>
		<string>网络线</string>
	</dict>
	<key>GYFTZY</key>
	<dict>
		<key>oneKind</key>
		<string>通信、光缆</string>
		<key>twoKind</key>
		<string>光缆</string>
		<key>threeKind</key>
		<string>层绞式通信室外</string>
	</dict>
	<key>JTMH</key>
	<dict>
		<key>oneKind</key>
		<string>裸线类</string>
		<key>twoKind</key>
		<string>裸电线</string>
		<key>threeKind</key>
		<string>硬铜绞线</string>
	</dict>
	<key>LJ</key>
	<dict>
		<key>oneKind</key>
		<string>裸线类</string>
		<key>twoKind</key>
		<string>架空导线用裸绞线</string>
		<key>threeKind</key>
		<string>铝绞线</string>
	</dict>
	<key>TMY</key>
	<dict>
		<key>oneKind</key>
		<string>裸线类</string>
		<key>twoKind</key>
		<string>型线</string>
		<key>threeKind</key>
		<string>铜母线</string>
	</dict>
	<key>CTAH</key>
	<dict>
		<key>oneKind</key>
		<string>裸线类</string>
		<key>twoKind</key>
		<string>型线</string>
		<key>threeKind</key>
		<string>铜接触线</string>
	</dict>
	<key>DJYVP</key>
	<dict>
		<key>oneKind</key>
		<string>电气装备电缆</string>
		<key>twoKind</key>
		<string>计算机电缆</string>
		<key>threeKind</key>
		<string>总屏计算机连接用</string>
	</dict>
	<key>DJVVRP</key>
	<dict>
		<key>oneKind</key>
		<string>电气装备电缆</string>
		<key>twoKind</key>
		<string>计算机电缆</string>
		<key>threeKind</key>
		<string>总屏计算机连接用</string>
	</dict>
	<key>CHJPFP96/SC</key>
	<dict>
		<key>oneKind</key>
		<string>电气装备电缆</string>
		<key>twoKind</key>
		<string>船用电缆</string>
		<key>threeKind</key>
		<string>船用通信电缆</string>
	</dict>
	<key>CHJPFP96/NC</key>
	<dict>
		<key>oneKind</key>
		<string>电气装备电缆</string>
		<key>twoKind</key>
		<string>船用电缆</string>
		<key>threeKind</key>
		<string>船用通信电缆</string>
	</dict>
	<key>60245IEC82(YHF)</key>
	<dict>
		<key>oneKind</key>
		<string>电气装备电缆</string>
		<key>twoKind</key>
		<string>电焊机电缆</string>
		<key>threeKind</key>
		<string>耐油耐酸碱</string>
	</dict>
	<key>60245IEC81(YH)</key>
	<dict>
		<key>oneKind</key>
		<string>电气装备电缆</string>
		<key>twoKind</key>
		<string>电焊机电缆</string>
		<key>threeKind</key>
		<string>普通</string>
	</dict>
	<key>YTF</key>
	<dict>
		<key>oneKind</key>
		<string>电气装备电缆</string>
		<key>twoKind</key>
		<string>特种电气装备电缆</string>
		<key>threeKind</key>
		<string>电梯电缆</string>
	</dict>
	<key>AF-200</key>
	<dict>
		<key>oneKind</key>
		<string>电气装备电缆</string>
		<key>twoKind</key>
		<string>特种电气装备电缆</string>
		<key>threeKind</key>
		<string>氟塑料绝缘安装线</string>
	</dict>
	<key>KVVP2</key>
	<dict>
		<key>oneKind</key>
		<string>电气装备电缆</string>
		<key>twoKind</key>
		<string>控制电缆</string>
		<key>threeKind</key>
		<string>聚氯乙烯绝缘</string>
	</dict>
	<key>KFFRP2</key>
	<dict>
		<key>oneKind</key>
		<string>电气装备电缆</string>
		<key>twoKind</key>
		<string>控制电缆</string>
		<key>threeKind</key>
		<string>耐高温控制电缆</string>
	</dict>
	<key>KYJVP</key>
	<dict>
		<key>oneKind</key>
		<string>电气装备电缆</string>
		<key>twoKind</key>
		<string>控制电缆</string>
		<key>threeKind</key>
		<string>交联聚乙烯绝缘</string>
	</dict>
	<key>RVVP-90</key>
	<dict>
		<key>oneKind</key>
		<string>电气装备电缆</string>
		<key>twoKind</key>
		<string>布电线</string>
		<key>threeKind</key>
		<string>R系列</string>
	</dict>
	<key>RVSP</key>
	<dict>
		<key>oneKind</key>
		<string>电气装备电缆</string>
		<key>twoKind</key>
		<string>布电线</string>
		<key>threeKind</key>
		<string>R系列</string>
	</dict>
	<key>RVB</key>
	<dict>
		<key>oneKind</key>
		<string>电气装备电缆</string>
		<key>twoKind</key>
		<string>布电线</string>
		<key>threeKind</key>
		<string>R系列</string>
	</dict>
	<key>QVR</key>
	<dict>
		<key>oneKind</key>
		<string>电气装备电缆</string>
		<key>twoKind</key>
		<string>公路车辆用线</string>
		<key>threeKind</key>
		<string>聚氯乙烯绝缘</string>
	</dict>
	<key>JKYJ</key>
	<dict>
		<key>oneKind</key>
		<string>电力电缆</string>
		<key>twoKind</key>
		<string>架空绝缘电缆</string>
		<key>threeKind</key>
		<string>铜芯</string>
	</dict>
	<key>VY</key>
	<dict>
		<key>oneKind</key>
		<string>电力电缆</string>
		<key>twoKind</key>
		<string>低压电力电缆</string>
		<key>threeKind</key>
		<string>聚氯乙烯绝缘</string>
	</dict>
	<key>VVRP</key>
	<dict>
		<key>oneKind</key>
		<string>电力电缆</string>
		<key>twoKind</key>
		<string>低压电力电缆</string>
		<key>threeKind</key>
		<string>聚氯乙烯绝缘</string>
	</dict>
	<key>VV32</key>
	<dict>
		<key>oneKind</key>
		<string>电力电缆</string>
		<key>twoKind</key>
		<string>低压电力电缆</string>
		<key>threeKind</key>
		<string>聚氯乙烯绝缘</string>
	</dict>
	<key>YJVRP2</key>
	<dict>
		<key>oneKind</key>
		<string>电力电缆</string>
		<key>twoKind</key>
		<string>低压电力电缆</string>
		<key>threeKind</key>
		<string>交联聚乙烯绝缘</string>
	</dict>
	<key>YJHLV22</key>
	<dict>
		<key>oneKind</key>
		<string>电力电缆</string>
		<key>twoKind</key>
		<string>中压电力电缆</string>
		<key>threeKind</key>
		<string>6～35kV交联聚乙烯绝缘</string>
	</dict>
	<key>HYAT53</key>
	<dict>
		<key>oneKind</key>
		<string>通信、光缆</string>
		<key>twoKind</key>
		<string>通信电缆</string>
		<key>threeKind</key>
		<string>铜芯聚烯烃绝缘铝塑综合护套室内</string>
	</dict>
	<key>HCAAYZ-50-12</key>
	<dict>
		<key>oneKind</key>
		<string>通信、光缆</string>
		<key>twoKind</key>
		<string>同轴射频电缆</string>
		<key>threeKind</key>
		<string>无线通信用50Ω泡沫聚乙烯绝缘皱纹铜管外导体</string>
	</dict>
	<key>SYWV-75-5</key>
	<dict>
		<key>oneKind</key>
		<string>通信、光缆</string>
		<key>twoKind</key>
		<string>同轴射频电缆</string>
		<key>threeKind</key>
		<string>CATV电缆</string>
	</dict>
	<key>JL/LB1A</key>
	<dict>
		<key>oneKind</key>
		<string>裸线类</string>
		<key>twoKind</key>
		<string>架空导线用裸绞线</string>
		<key>threeKind</key>
		<string>铝包钢芯铝绞线</string>
	</dict>
	<key>RVVB</key>
	<dict>
		<key>oneKind</key>
		<string>电气装备电缆</string>
		<key>twoKind</key>
		<string>布电线</string>
		<key>threeKind</key>
		<string>R系列</string>
	</dict>
	<key>RVS</key>
	<dict>
		<key>oneKind</key>
		<string>电气装备电缆</string>
		<key>twoKind</key>
		<string>布电线</string>
		<key>threeKind</key>
		<string>R系列</string>
	</dict>
	<key>BLV</key>
	<dict>
		<key>oneKind</key>
		<string>电气装备电缆</string>
		<key>twoKind</key>
		<string>布电线</string>
		<key>threeKind</key>
		<string>B系列</string>
	</dict>
	<key>YJLW02</key>
	<dict>
		<key>oneKind</key>
		<string>电力电缆</string>
		<key>twoKind</key>
		<string>超高压电力电缆</string>
		<key>threeKind</key>
		<string>500kV交联聚乙烯绝缘</string>
	</dict>
	<key>YJY22</key>
	<dict>
		<key>oneKind</key>
		<string>电力电缆</string>
		<key>twoKind</key>
		<string>中压电力电缆</string>
		<key>threeKind</key>
		<string>6～35kV交联聚乙烯绝缘</string>
	</dict>
	<key>BTTZ</key>
	<dict>
		<key>oneKind</key>
		<string>电气装备电缆</string>
		<key>twoKind</key>
		<string>防火电缆</string>
		<key>threeKind</key>
		<string>矿物绝缘</string>
	</dict>
	<key>CEV/DA</key>
	<dict>
		<key>oneKind</key>
		<string>电气装备电缆</string>
		<key>twoKind</key>
		<string>船用电缆</string>
		<key>threeKind</key>
		<string>船用电力电缆</string>
	</dict>
	<key>KFFP</key>
	<dict>
		<key>oneKind</key>
		<string>电气装备电缆</string>
		<key>twoKind</key>
		<string>控制电缆</string>
		<key>threeKind</key>
		<string>耐高温控制电缆</string>
	</dict>
	<key>KYJV</key>
	<dict>
		<key>oneKind</key>
		<string>电气装备电缆</string>
		<key>twoKind</key>
		<string>控制电缆</string>
		<key>threeKind</key>
		<string>交联聚乙烯绝缘</string>
	</dict>
	<key>GG</key>
	<dict>
		<key>oneKind</key>
		<string>电力电缆</string>
		<key>twoKind</key>
		<string>低压电力电缆</string>
		<key>threeKind</key>
		<string>耐高温电力电缆</string>
	</dict>
	<key>ZA-AC90(-40)</key>
	<dict>
		<key>oneKind</key>
		<string>电力电缆</string>
		<key>twoKind</key>
		<string>低压电力电缆</string>
		<key>threeKind</key>
		<string>交联聚乙烯绝缘</string>
	</dict>
	<key>HYAT</key>
	<dict>
		<key>oneKind</key>
		<string>通信、光缆</string>
		<key>twoKind</key>
		<string>通信电缆</string>
		<key>threeKind</key>
		<string>铜芯聚烯烃绝缘铝塑综合护套室内</string>
	</dict>
	<key>GYTA53</key>
	<dict>
		<key>oneKind</key>
		<string>通信、光缆</string>
		<key>twoKind</key>
		<string>光缆</string>
		<key>threeKind</key>
		<string>层绞式通信室外</string>
	</dict>
	<key>JLRX/T(ACCC/TW)</key>
	<dict>
		<key>oneKind</key>
		<string>裸线类</string>
		<key>twoKind</key>
		<string>特种架空导线</string>
		<key>threeKind</key>
		<string>碳纤维复合芯软铝绞线</string>
	</dict>
	<key>JLB20A</key>
	<dict>
		<key>oneKind</key>
		<string>裸线类</string>
		<key>twoKind</key>
		<string>架空导线用裸绞线</string>
		<key>threeKind</key>
		<string>铝包钢绞线</string>
	</dict>
	<key>YGCB</key>
	<dict>
		<key>oneKind</key>
		<string>电气装备电缆</string>
		<key>twoKind</key>
		<string>橡套电缆</string>
		<key>threeKind</key>
		<string>耐热硅橡胶绝缘电缆</string>
	</dict>
	<key>KYJV22</key>
	<dict>
		<key>oneKind</key>
		<string>电气装备电缆</string>
		<key>twoKind</key>
		<string>控制电缆</string>
		<key>threeKind</key>
		<string>交联聚乙烯绝缘</string>
	</dict>
	<key>YJV62</key>
	<dict>
		<key>oneKind</key>
		<string>电力电缆</string>
		<key>twoKind</key>
		<string>中压电力电缆</string>
		<key>threeKind</key>
		<string>6～35kV交联聚乙烯绝缘</string>
	</dict>
	<key>MKVV</key>
	<dict>
		<key>oneKind</key>
		<string>电气装备电缆</string>
		<key>twoKind</key>
		<string>矿用电缆</string>
		<key>threeKind</key>
		<string>矿用控制电缆</string>
	</dict>
	<key>YH</key>
	<dict>
		<key>oneKind</key>
		<string>电气装备电缆</string>
		<key>twoKind</key>
		<string>电焊机电缆</string>
		<key>threeKind</key>
		<string>普通</string>
	</dict>
	<key>VLV22</key>
	<dict>
		<key>oneKind</key>
		<string>电力电缆</string>
		<key>twoKind</key>
		<string>低压电力电缆</string>
		<key>threeKind</key>
		<string>聚氯乙烯绝缘</string>
	</dict>
	<key>ZC-TC90(-40)</key>
	<dict>
		<key>oneKind</key>
		<string>电力电缆</string>
		<key>twoKind</key>
		<string>低压电力电缆</string>
		<key>threeKind</key>
		<string>交联聚乙烯绝缘</string>
	</dict>
	<key>60227IEC06(RV)</key>
	<dict>
		<key>oneKind</key>
		<string>电气装备电缆</string>
		<key>twoKind</key>
		<string>布电线</string>
		<key>threeKind</key>
		<string>R系列</string>
	</dict>
	<key>YJLW03</key>
	<dict>
		<key>oneKind</key>
		<string>电力电缆</string>
		<key>twoKind</key>
		<string>超高压电力电缆</string>
		<key>threeKind</key>
		<string>500kV交联聚乙烯绝缘</string>
	</dict>
	<key>YJY</key>
	<dict>
		<key>oneKind</key>
		<string>电力电缆</string>
		<key>twoKind</key>
		<string>中压电力电缆</string>
		<key>threeKind</key>
		<string>6～35kV交联聚乙烯绝缘</string>
	</dict>
	<key>YJV32</key>
	<dict>
		<key>oneKind</key>
		<string>电力电缆</string>
		<key>twoKind</key>
		<string>中压电力电缆</string>
		<key>threeKind</key>
		<string>6～35kV交联聚乙烯绝缘</string>
	</dict>
	<key>KVV22</key>
	<dict>
		<key>oneKind</key>
		<string>电气装备电缆</string>
		<key>twoKind</key>
		<string>控制电缆</string>
		<key>threeKind</key>
		<string>聚氯乙烯绝缘</string>
	</dict>
	<key>YJVR</key>
	<dict>
		<key>oneKind</key>
		<string>电力电缆</string>
		<key>twoKind</key>
		<string>低压电力电缆</string>
		<key>threeKind</key>
		<string>交联聚乙烯绝缘</string>
	</dict>
	<key>KVVR</key>
	<dict>
		<key>oneKind</key>
		<string>电气装备电缆</string>
		<key>twoKind</key>
		<string>控制电缆</string>
		<key>threeKind</key>
		<string>聚氯乙烯绝缘</string>
	</dict>
	<key>KFG</key>
	<dict>
		<key>oneKind</key>
		<string>电气装备电缆</string>
		<key>twoKind</key>
		<string>控制电缆</string>
		<key>threeKind</key>
		<string>耐高温控制电缆</string>
	</dict>
	<key>60227IEC53(RVV)</key>
	<dict>
		<key>oneKind</key>
		<string>电气装备电缆</string>
		<key>twoKind</key>
		<string>布电线</string>
		<key>threeKind</key>
		<string>R系列</string>
	</dict>
	<key>JKLGYJ</key>
	<dict>
		<key>oneKind</key>
		<string>电力电缆</string>
		<key>twoKind</key>
		<string>架空绝缘电缆</string>
		<key>threeKind</key>
		<string>钢芯铝绞线芯</string>
	</dict>
	<key>KVVRP</key>
	<dict>
		<key>oneKind</key>
		<string>电气装备电缆</string>
		<key>twoKind</key>
		<string>控制电缆</string>
		<key>threeKind</key>
		<string>聚氯乙烯绝缘</string>
	</dict>
	<key>YJV42</key>
	<dict>
		<key>oneKind</key>
		<string>电力电缆</string>
		<key>twoKind</key>
		<string>中压电力电缆</string>
		<key>threeKind</key>
		<string>6～35kV交联聚乙烯绝缘</string>
	</dict>
	<key>PV1-F</key>
	<dict>
		<key>oneKind</key>
		<string>电气装备电缆</string>
		<key>twoKind</key>
		<string>特种电气装备电缆</string>
		<key>threeKind</key>
		<string>光伏电缆</string>
	</dict>
	<key>JKLYJ</key>
	<dict>
		<key>oneKind</key>
		<string>电力电缆</string>
		<key>twoKind</key>
		<string>架空绝缘电缆</string>
		<key>threeKind</key>
		<string>铝芯</string>
	</dict>
	<key>YJV72</key>
	<dict>
		<key>oneKind</key>
		<string>电力电缆</string>
		<key>twoKind</key>
		<string>中压电力电缆</string>
		<key>threeKind</key>
		<string>6～35kV交联聚乙烯绝缘</string>
	</dict>
	<key>LGJ</key>
	<dict>
		<key>oneKind</key>
		<string>裸线类</string>
		<key>twoKind</key>
		<string>架空导线用裸绞线</string>
		<key>threeKind</key>
		<string>钢芯铝绞线</string>
	</dict>
	<key>YZW</key>
	<dict>
		<key>oneKind</key>
		<string>电气装备电缆</string>
		<key>twoKind</key>
		<string>橡套电缆</string>
		<key>threeKind</key>
		<string>中型</string>
	</dict>
	<key>JL/G1A</key>
	<dict>
		<key>oneKind</key>
		<string>裸线类</string>
		<key>twoKind</key>
		<string>架空导线用裸绞线</string>
		<key>threeKind</key>
		<string>钢芯铝绞线</string>
	</dict>
	<key>KVVP</key>
	<dict>
		<key>oneKind</key>
		<string>电气装备电缆</string>
		<key>twoKind</key>
		<string>控制电缆</string>
		<key>threeKind</key>
		<string>聚氯乙烯绝缘</string>
	</dict>
	<key>RV</key>
	<dict>
		<key>oneKind</key>
		<string>电气装备电缆</string>
		<key>twoKind</key>
		<string>布电线</string>
		<key>threeKind</key>
		<string>R系列</string>
	</dict>
	<key>WTTEZ</key>
	<dict>
		<key>oneKind</key>
		<string>电气装备电缆</string>
		<key>twoKind</key>
		<string>防火电缆</string>
		<key>threeKind</key>
		<string>无机复合绝缘</string>
	</dict>
	<key>60227IEC02(RV)</key>
	<dict>
		<key>oneKind</key>
		<string>电气装备电缆</string>
		<key>twoKind</key>
		<string>布电线</string>
		<key>threeKind</key>
		<string>R系列</string>
	</dict>
	<key>BVV</key>
	<dict>
		<key>oneKind</key>
		<string>电气装备电缆</string>
		<key>twoKind</key>
		<string>布电线</string>
		<key>threeKind</key>
		<string>B系列</string>
	</dict>
	<key>YZ</key>
	<dict>
		<key>oneKind</key>
		<string>电气装备电缆</string>
		<key>twoKind</key>
		<string>橡套电缆</string>
		<key>threeKind</key>
		<string>中型</string>
	</dict>
	<key>BVVB</key>
	<dict>
		<key>oneKind</key>
		<string>电气装备电缆</string>
		<key>twoKind</key>
		<string>布电线</string>
		<key>threeKind</key>
		<string>B系列</string>
	</dict>
	<key>YJLV</key>
	<dict>
		<key>oneKind</key>
		<string>电力电缆</string>
		<key>twoKind</key>
		<string>中压电力电缆</string>
		<key>threeKind</key>
		<string>6～35kV交联聚乙烯绝缘</string>
	</dict>
	<key>YCW</key>
	<dict>
		<key>oneKind</key>
		<string>电气装备电缆</string>
		<key>twoKind</key>
		<string>橡套电缆</string>
		<key>threeKind</key>
		<string>重型</string>
	</dict>
	<key>YGC</key>
	<dict>
		<key>oneKind</key>
		<string>电气装备电缆</string>
		<key>twoKind</key>
		<string>橡套电缆</string>
		<key>threeKind</key>
		<string>耐热硅橡胶绝缘电缆</string>
	</dict>
	<key>VVR</key>
	<dict>
		<key>oneKind</key>
		<string>电力电缆</string>
		<key>twoKind</key>
		<string>低压电力电缆</string>
		<key>threeKind</key>
		<string>聚氯乙烯绝缘</string>
	</dict>
	<key>JHS</key>
	<dict>
		<key>oneKind</key>
		<string>电气装备电缆</string>
		<key>twoKind</key>
		<string>特种电气装备电缆</string>
		<key>threeKind</key>
		<string>防水橡套软电缆</string>
	</dict>
	<key>YJLV22</key>
	<dict>
		<key>oneKind</key>
		<string>电力电缆</string>
		<key>twoKind</key>
		<string>中压电力电缆</string>
		<key>threeKind</key>
		<string>6～35kV交联聚乙烯绝缘</string>
	</dict>
	<key>HYA</key>
	<dict>
		<key>oneKind</key>
		<string>通信、光缆</string>
		<key>twoKind</key>
		<string>通信电缆</string>
		<key>threeKind</key>
		<string>铜芯聚烯烃绝缘铝塑综合护套室内</string>
	</dict>
	<key>VLV</key>
	<dict>
		<key>oneKind</key>
		<string>电力电缆</string>
		<key>twoKind</key>
		<string>低压电力电缆</string>
		<key>threeKind</key>
		<string>聚氯乙烯绝缘</string>
	</dict>
	<key>KVV</key>
	<dict>
		<key>oneKind</key>
		<string>电气装备电缆</string>
		<key>twoKind</key>
		<string>控制电缆</string>
		<key>threeKind</key>
		<string>聚氯乙烯绝缘</string>
	</dict>
	<key>YC</key>
	<dict>
		<key>oneKind</key>
		<string>电气装备电缆</string>
		<key>twoKind</key>
		<string>橡套电缆</string>
		<key>threeKind</key>
		<string>重型</string>
	</dict>
	<key>VV22</key>
	<dict>
		<key>oneKind</key>
		<string>电力电缆</string>
		<key>twoKind</key>
		<string>低压电力电缆</string>
		<key>threeKind</key>
		<string>聚氯乙烯绝缘</string>
	</dict>
	<key>RVVP</key>
	<dict>
		<key>oneKind</key>
		<string>电气装备电缆</string>
		<key>twoKind</key>
		<string>布电线</string>
		<key>threeKind</key>
		<string>R系列</string>
	</dict>
	<key>VV</key>
	<dict>
		<key>oneKind</key>
		<string>电力电缆</string>
		<key>twoKind</key>
		<string>低压电力电缆</string>
		<key>threeKind</key>
		<string>聚氯乙烯绝缘</string>
	</dict>
	<key>60227IEC01(BV)</key>
	<dict>
		<key>oneKind</key>
		<string>电气装备电缆</string>
		<key>twoKind</key>
		<string>布电线</string>
		<key>threeKind</key>
		<string>B系列</string>
	</dict>
	<key>RVV</key>
	<dict>
		<key>oneKind</key>
		<string>电气装备电缆</string>
		<key>twoKind</key>
		<string>布电线</string>
		<key>threeKind</key>
		<string>R系列</string>
	</dict>
	<key>BVR</key>
	<dict>
		<key>oneKind</key>
		<string>电气装备电缆</string>
		<key>twoKind</key>
		<string>布电线</string>
		<key>threeKind</key>
		<string>B系列</string>
	</dict>
	<key>YJV22</key>
	<dict>
		<key>oneKind</key>
		<string>电力电缆</string>
		<key>twoKind</key>
		<string>中压电力电缆</string>
		<key>threeKind</key>
		<string>6～35kV交联聚乙烯绝缘</string>
	</dict>
	<key>BV</key>
	<dict>
		<key>oneKind</key>
		<string>电气装备电缆</string>
		<key>twoKind</key>
		<string>布电线</string>
		<key>threeKind</key>
		<string>B系列</string>
	</dict>
	<key>YJV</key>
	<dict>
		<key>oneKind</key>
		<string>电力电缆</string>
		<key>twoKind</key>
		<string>中压电力电缆</string>
		<key>threeKind</key>
		<string>6～35kV交联聚乙烯绝缘</string>
	</dict>
</dict>
</plist>
