<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>typePls</key>
		<string>中压电力电缆—6～35kV交联聚乙烯绝缘</string>
	</dict>
	<dict>
		<key>typePls</key>
		<string>低压电力电缆—交联聚乙烯绝缘</string>
	</dict>
	<dict>
		<key>typePls</key>
		<string>布电线—R系列</string>
	</dict>
	<dict>
		<key>typePls</key>
		<string>型线—铜母线</string>
	</dict>
	<dict>
		<key>typePls</key>
		<string>橡套电缆—中型</string>
	</dict>
	<dict>
		<key>typePls</key>
		<string>低压电力电缆—聚氯乙烯绝缘</string>
	</dict>
	<dict>
		<key>typePls</key>
		<string>通信电缆—网络线</string>
	</dict>
	<dict>
		<key>typePls</key>
		<string>架空绝缘电缆—铝芯</string>
	</dict>
	<dict>
		<key>typePls</key>
		<string>控制电缆—聚氯乙烯绝缘</string>
	</dict>
	<dict>
		<key>typePls</key>
		<string>架空导线用裸绞线—铝合金芯铝绞线</string>
	</dict>
	<dict>
		<key>typePls</key>
		<string>橡套电缆—重型</string>
	</dict>
	<dict>
		<key>typePls</key>
		<string>架空导线用裸绞线—钢芯铝合金绞线</string>
	</dict>
	<dict>
		<key>typePls</key>
		<string>架空导线用裸绞线—铝绞线</string>
	</dict>
	<dict>
		<key>typePls</key>
		<string>通信电缆—局用对称电缆</string>
	</dict>
	<dict>
		<key>typePls</key>
		<string>通信电缆—铜芯聚烯烃绝缘铝塑综合护套室内</string>
	</dict>
	<dict>
		<key>typePls</key>
		<string>控制电缆—耐高温控制电缆</string>
	</dict>
	<dict>
		<key>typePls</key>
		<string>特种电气装备电缆—电梯电缆</string>
	</dict>
	<dict>
		<key>typePls</key>
		<string>计算机电缆—总屏计算机连接用</string>
	</dict>
	<dict>
		<key>typePls</key>
		<string>光缆—层绞式通信室外</string>
	</dict>
	<dict>
		<key>typePls</key>
		<string>特种电气装备电缆—电机绕组引接软电线</string>
	</dict>
	<dict>
		<key>typePls</key>
		<string>超高压电力电缆—500kV交联聚乙烯绝缘</string>
	</dict>
	<dict>
		<key>typePls</key>
		<string>高压电力电缆—220kV交联聚乙烯绝缘</string>
	</dict>
	<dict>
		<key>typePls</key>
		<string>高压电力电缆—110kV交联聚乙烯绝缘</string>
	</dict>
	<dict>
		<key>typePls</key>
		<string>高压电力电缆—66kV交联聚乙烯绝缘</string>
	</dict>
	<dict>
		<key>typePls</key>
		<string>漆包线—聚酯漆包线</string>
	</dict>
	<dict>
		<key>typePls</key>
		<string>同轴射频电缆—CATV电缆</string>
	</dict>
	<dict>
		<key>typePls</key>
		<string>布电线—B系列</string>
	</dict>
	<dict>
		<key>typePls</key>
		<string>光缆—中心管式室外</string>
	</dict>
	<dict>
		<key>typePls</key>
		<string>光缆—接入网用蝶形引入</string>
	</dict>
	<dict>
		<key>typePls</key>
		<string>架空绝缘电缆—铜芯</string>
	</dict>
	<dict>
		<key>typePls</key>
		<string>架空导线用裸绞线—钢芯铝绞线</string>
	</dict>
</array>
</plist>
